.mainForm{
  box-sizing: border-box;
  display: inline-block;
}


  #identification,#contact{
    display: flex;
    align-items: center;
  }
label{
  width: 100%;
  text-align: center;
}











 
