.mainForm{
  box-sizing: border-box;
  position:relative;
  border:1px solid black;
  padding: 10px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.inputContainer{
  width: fit-content;
  border: black 1px solid;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 10px;
}
input{
  display: block;
  margin: 0 auto;
}










 
